/*  
Theme Name: Nokia - Sem limites
Theme URI: 
Description: The default theme for Nokia - Sem limites
Version: 1.0
Author: Pedro Rogerio
Author URI: http://www.pinceladasdaweb.com.br/blog/
*/

/*
+----------------------------------------------------------------+
	Reset CSS by Eric Meyer: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/															
+----------------------------------------------------------------+
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
body {line-height: 1;}
ol, ul {list-style: none;}

/*
+----------------------------------------------------------------+
	Extras															
+----------------------------------------------------------------+
*/
.alignleft {float:left}
.alignright {float:right}
div:after, ul:after, dl:after, dd:after, dt:after{clear:both; content:""; display:block; font-size:0; height:0; visibility:hidden;}
/*Limpar fluxo oculto para IE-mac \*/
* html div, * html ul, * html dl, * html dd, * html dt {height:1%;}
/* final hack IE-mac */
*:first-child+html div, *:first-child+html ul, *:first-child+html dl, *:first-child+html dd, *:first-child+html dt, *:first-child+html ol {height:auto; display: inline-block;}
.clear {clear:both; overflow:hidden; font-size:0; visibility:hidden}

/*
+----------------------------------------------------------------+
	Definicoes gerais															
+----------------------------------------------------------------+
*/
body {background:#d4d4d5 url(img/bg_body.jpg) repeat-y center top; font:62.5% Arial, Helvetica, sans-serif; text-align:center}
a {text-decoration:none}
h1, h2, h3, h4, h5, h6, strong {font-weight:700}

/*
+----------------------------------------------------------------+
	Estrutura															
+----------------------------------------------------------------+
*/
#wrapper {background:url(img/bg_wrapper.jpg) no-repeat center top}
#container {text-align:left; margin:0 auto; width:916px}

/*
+----------------------------------------------------------------+
	Header															
+----------------------------------------------------------------+
*/
#header {padding:37px 0 0}
#header h1 {display:inline; float:left; height:59px; margin:0 0 23px 21px; overflow:hidden; position:relative; width:255px}
#header h1 span {background:url(img/logo-nokia-sem-limites.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#header h1 a, #header h2 a {cursor:pointer}
#header h2 {display:inline; float:right; height:27px; margin:14px 27px 0 0; overflow:hidden; position:relative; width:70px}
#header h2 span {background:url(img/logo-nseries.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#header ul {clear:both; margin:0 0 11px 20px}
#header ul li {display:inline; float:left; font-size:1.3em; margin:0 40px 0 0}
#header ul li a {color:#343c3f; float:left; height:23px}
#header ul li a span {border-bottom:2px solid #029aca; display:block}
#header ul li a:hover {background:url(img/seta_bottom.jpg) no-repeat 5px bottom}
#header ul li.current_page_item a {background:url(img/seta_bottom.jpg) no-repeat 5px bottom}
#feed {background:url(img/ico-feed.jpg) no-repeat right center; color:#000; display:inline; float:right; height:26px; line-height:26px; margin:0 5px 4px 0; padding:0 26px 0 0}

/*
+----------------------------------------------------------------+
	Content															
+----------------------------------------------------------------+
*/
#content {float:left; padding:6px 0 0; width:529px}
#sem_limites {margin:0 0 20px; padding:0 6px}
#sem_limites h2 {height:18px; margin:0 0 15px; overflow:hidden; position:relative; width:341px}
#sem_limites h2 span {background:url(img/ttl-celular-sem-limites.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#sem_limites p {font-size:1.2em; margin:0 0 10px}
#sem_limites img {border:1px solid #eaeaea; display:block; margin:0 auto 10px; padding:4px}
#sem_limites .more {background:url(img/ico-more-content.jpg) no-repeat left center; color:#000; display:block; line-height:20px; margin:0 0 22px; padding:0 0 0 22px; width:38px}
#sem_limites hr, #content hr {background-color:#9e929c; color:#9e929c}

#content hr {margin-bottom:30px}
#content .postmetadata {background:url(img/bg_potmetadata.jpg) no-repeat left center; color:#384043; float:right; font-size:11px; height:30px; line-height:30px; text-transform:uppercase; width:102px}
#content .postmetadata strong {color:#fff; font-size:1.6em; padding:0 5px 0 8px}
#content .post h2 {font-size:1.7em; margin:0 0 5px; padding:0 8px}
#content .post h2 a {color:#4b5253}
#content .post .author {border-bottom:1px solid #e6f3ef; color:#a4b0b4; margin:0 0 10px; padding:0 8px}
#content .post .author strong, #content .post .author a {color:#00abdf}
#content .post .entry {padding:0 8px}
#content .post .entry * {font-size:1.2em}
#content .post .entry p {margin:0 0 10px}
#content .post .entry h2 {color:#4B5253; font-size:1.5em; padding:0}
#content .post .entry h3 {color:#4B5253; font-size:1.3em;}
#content .post .entry h3, #content .post .entry h4, #content .post .entry h5, #content .post .entry h6 {margin-bottom:5px}
#content .post .entry img {display:block; margin:0 auto 5px}
#content .post .entry a {color:#00abdf; text-decoration:underline}
#content .post .entry a:visited {color:#a4b0b4}
#content .post .options {margin:0 0 30px 8px}
#content .post .options li {float:left; font-size:1.2em}
#content .post .options li a {color:#fff}
#content .post .options li a strong {color:#494949}
#content .post .options li.comments {background:#a4a3a0 url(img/bg_comments.jpg) no-repeat; height:21px; line-height:21px; margin:0 5px 0 0; padding:0 4px}
#content .post .options li.permalink {background:#7d7c77 url(img/bg_permalink.jpg) no-repeat; height:21px; line-height:21px; padding:0 4px}

/*
+----------------------------------------------------------------+
	Comentários
+----------------------------------------------------------------+
*/
#content #comments h2 {height:16px; margin-bottom:19px; overflow:hidden; position:relative; width:96px;}
#content #comments h2 span {background:url(img/ttl_comentarios.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments .commentlist {padding:0; text-align:justify;}
#content #comments .commentlist li {margin:15px 0 4px; padding:4px 0 0 5px;}
#content #comments .commentlist li.alt {background-color:#f9f9f9;}
#content #comments .commentlist cite {color:#000000; font-size:1.2em;}
#content #comments .commentlist cite span {color:#00abdf; font-weight:bold;}
#content #comments .commentlist p {color:#363534; font-size:1.2em; font-weight:normal; line-height:1.5em; margin:10px 5px 10px 0; text-transform:none; width:495px;}
#content #comments h3 {height:16px; margin-bottom:19px; margin-top:45px; overflow:hidden; position:relative; width:162px;}
#content #comments h3 span {background:url(img/ttl_deixecomentario.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments form#commentform {margin-bottom:30px; width:400px;}
#content #comments form#commentform div label#nome {display:block; height:10px; margin:0 0 3px 1px; overflow:hidden; position:relative; width:29px;}
#content #comments form#commentform div label#nome span {background:url(img/ttl_nome.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments form#commentform div label#mail {display:block; height:10px; margin:0 0 3px 1px; overflow:hidden; position:relative; width:30px;}
#content #comments form#commentform div label#mail span {background:url(img/ttl_email.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments form#commentform div label#site {display:block; height:9px; margin:0 0 3px 1px; overflow:hidden; position:relative; width:18px;}
#content #comments form#commentform div label#site span {background:url(img/ttl_url.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments form#commentform div label#comentario {display:block; height:10px; margin:0 0 3px 1px; overflow:hidden; position:relative; width:78px;}
#content #comments form#commentform div label#comentario span {background:url(img/ttl_seucomentario.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#content #comments form#commentform div input {background-color:#F2F2F2; border-color:#E1E1E1 -moz-use-text-color -moz-use-text-color #E1E1E1; border-style:solid none none solid; border-width:1px 0 0 1px; display:block; margin-bottom:13px; width:280px;}
#content #comments form#commentform div textarea {background-color:#F2F2F2; border-color:#E1E1E1 -moz-use-text-color -moz-use-text-color #E1E1E1; border-style:solid none none solid; border-width:1px 0 0 1px; font-family:Arial, Helvetica, sans-serif; font-size:1.3em; display:block; height:131px; margin-bottom:13px; width:400px;}
#content #comments form#commentform div .button {background:url(img/bt_comentar.jpg) no-repeat 0 0; border:medium none; content:""; cursor:pointer; float:right; height:23px; line-height:0pt; padding:0pt; text-indent:-9999px; width:94px;}

/*
+----------------------------------------------------------------+
	Resultado Busca
+----------------------------------------------------------------+
*/
#pg_resultadobusca #content h2#titulo {height:18px; margin:7px 0 15px 8px; overflow:hidden; position:relative; width:217px;}
#pg_resultadobusca #content h2#titulo span {background:url(img/ttl_resultadobusca.jpg) no-repeat left top; height:100%; position:absolute; width:100%;}
#pg_resultadobusca #content .frase {color:#000000; font-size:1.4em; margin-bottom:36px; margin-left:8px;}
#pg_resultadobusca #content .frase span {color:#1094b6;}
#pg_resultadobusca #content .entry {margin-bottom:30px;}
#pg_resultadobusca #content .alt {background-color:#f9f9f9;}
#pg_resultadobusca #content .pagenavi {margin:64px 0 60px; padding:0 80px; text-align:center}

/*
+----------------------------------------------------------------+
	Paginacao															
+----------------------------------------------------------------+
*/
.pagenavi {margin:0 0 60px; padding:0 80px; text-align:center}
.pagenavi a {border-right:1px solid #3b97ab; color:#38393b; font-size:1.1em; padding:0 10px}
.pagenavi .alignleft a, .pagenavi .alignright a {border:0}
.pagenavi > a:last-child {border:none}

/*
+----------------------------------------------------------------+
	Sidebar															
+----------------------------------------------------------------+
*/
#sidebar {margin-left:602px; width:304px}
#searchform {margin:0 0 30px}
#searchform #s {background-color:#ebebeb; border-top:1px solid #dbdbdb; border-right:none; border-bottom:none; border-left:1px solid #dbdbdb; float:left; height:21px; margin:0 5px 0 0; padding:0 4px; width:250px}
#searchform #searchsubmit {float:left}

#sidebar h2#ttl_n95 {height:26px; overflow:hidden; position:relative; width:157px}
#sidebar h2#ttl_n95 span {background:url(img/ttl-conheca-n95.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#sidebar #about {background:url(img/pattern_sidebar.jpg) repeat; border:3px double #e1e1e1; margin:0 0 38px; overflow:hidden; padding:14px 0 5px}
#sidebar #about:after {clear:none}
#sidebar #about img {display:block; margin:0 auto}
#sidebar #about p {color:#58595b; font-size:1.1em; padding:0 26px}
#sidebar #about .more {background:url(img/ico_more_sidebar.jpg) no-repeat left center; color:#655f5f; display:inline; float:right; line-height:22px; margin:0 24px 0 0; padding-left:20px; width:52px}

#sidebar h2#ttl_tags {height:26px; overflow:hidden; position:relative; width:45px}
#sidebar h2#ttl_tags span {background:url(img/ttl-tags.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#sidebar #tags {background:url(img/pattern_sidebar.jpg) repeat; border:3px double #e1e1e1; margin:0 0 38px; padding:22px}
#sidebar #tags:after {clear:none}
#sidebar #tags a {color:#434343}

#sidebar h2#ttl_enquetes {height:26px; overflow:hidden; position:relative; width:84px}
#sidebar h2#ttl_enquetes span {background:url(img/ttl-enquetes.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#sidebar #enquete {background:url(img/pattern_sidebar.jpg) repeat; border:3px double #e1e1e1; margin:0 0 38px; overflow:hidden; padding:14px 12px 5px}
#sidebar #enquete:after {clear:none}
#sidebar #enquete p {color:#58595b; font-size:1.2em; margin:0 0 10px}
#sidebar #enquete ul li {color:#767171; font-size:1.1em}
#sidebar #enquete .button {background:url(img/bt_votar.jpg) no-repeat 0 0; border:medium none; content:""; cursor:pointer; float:right; height:23px; line-height:0pt; padding:0pt; text-indent:-9999px; width:66px;}

#sidebar h2#ttl_arquivos {height:26px; overflow:hidden; position:relative; width:84px}
#sidebar h2#ttl_arquivos span {background:url(img/ttl-arquivos.jpg) no-repeat 0 0; height:100%; position:absolute; width:100%}
#sidebar #archive {background:url(img/pattern_sidebar.jpg) repeat; border:3px double #e1e1e1; margin:0 0 38px; overflow:hidden; padding:14px 12px 5px}
#sidebar #archive:after {clear:none}
#sidebar #archive ul li {background:url(img/bullet_archive.gif) no-repeat left center; padding:0 0 0 12px}
#sidebar #archive ul li a {color:#524c4c; font-size:1.1em}

/*
+----------------------------------------------------------------+
	Footer															
+----------------------------------------------------------------+
*/
#footer {clear:both; margin:0 0 24px}
#footer p, #footer ul {color:#938989; float:left}
#footer p {padding:0 3px 0 0}
#footer ul li {border-left:1px solid #938989; display:inline; float:left; padding:0 3px}
#footer ul li a {color:#938989}